In [1]:
import pandas as pd

In [13]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(url)
table_df = tables[0]

In [83]:
table_df.head(2)

  Postcode     Borough     Neighbourhood
2      M3A  North York         Parkwoods
3      M4A  North York  Victoria Village

In [96]:
table_df = table_df.rename(columns={"Postcode":"PostalCode"})

In [97]:
table_df=table_df[table_df["Borough"]!= "Not assigned"]

In [98]:
table_df

    PostalCode           Borough             Neighbourhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M5A  Downtown Toronto               Regent Park
6          M6A        North York          Lawrence Heights
..         ...               ...                       ...
282        M8Z         Etobicoke  Kingsway Park South West
283        M8Z         Etobicoke                 Mimico NW
284        M8Z         Etobicoke        The Queensway West
285        M8Z         Etobicoke     Royal York South West
286        M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [100]:
table_df_concat = table_df.groupby(['PostalCode','Borough'], sort=False).agg( ','.join)
table_df_concat.head(11)

                                               Neighbourhood
PostalCode Borough
M3A        North York                              Parkwoods
M4A        North York                       Victoria Village
M5A        Downtown Toronto         Harbourfront,Regent Park
M6A        North York        Lawrence Heights,Lawrence Manor
M7A        Queen's Park                         Not assigned
M9A        Etobicoke                        Islington Avenue
M1B        Scarborough                         Rouge,Malvern
M3B        North York                        Don Mills North
M4B        East York          Woodbine Gardens,Parkview Hill
M5B        Downtown Toronto          Ryerson,Garden District
M6B        North York                              Glencairn

In [101]:
table_df_concat = table_df_concat.reset_index()

In [102]:
no_neigh=table_df[table_df["Neighbourhood"]== "Not assigned"]
no_neigh

  PostalCode       Borough Neighbourhood
8        M7A  Queen's Park  Not assigned

In [103]:
table_df_concat.at[4, "Neighbourhood"]= "Queen's Park"

In [104]:
table_df_concat.head(11)

   PostalCode           Borough                    Neighbourhood
0         M3A        North York                        Parkwoods
1         M4A        North York                 Victoria Village
2         M5A  Downtown Toronto         Harbourfront,Regent Park
3         M6A        North York  Lawrence Heights,Lawrence Manor
4         M7A      Queen's Park                     Queen's Park
5         M9A         Etobicoke                 Islington Avenue
6         M1B       Scarborough                    Rouge,Malvern
7         M3B        North York                  Don Mills North
8         M4B         East York   Woodbine Gardens,Parkview Hill
9         M5B  Downtown Toronto          Ryerson,Garden District
10        M6B        North York                        Glencairn

In [106]:
table_df_concat.shape

(103, 3)