In [1]:
import pandas as pd

In [13]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(url)
table_df = tables[0]

In [14]:
table_df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [17]:
table_df=table_df[table_df["Borough"]!= "Not assigned"]

In [18]:
table_df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [42]:
table_df_concat = table_df.groupby(['Postcode','Borough'], sort=False).agg( ','.join)
table_df_concat

                                                               Neighbourhood
Postcode Borough
M3A      North York                                                Parkwoods
M4A      North York                                         Victoria Village
M5A      Downtown Toronto                           Harbourfront,Regent Park
M6A      North York                          Lawrence Heights,Lawrence Manor
M7A      Queen's Park                                           Not assigned
...                                                                      ...
M8X      Etobicoke               The Kingsway,Montgomery Road,Old Mill North
M4Y      Downtown Toronto                               Church and Wellesley
M7Y      East Toronto      Business Reply Mail Processing Centre 969 Eastern
M8Y      Etobicoke         Humber Bay,King's Mill Park,Kingsway Park Sout...
M8Z      Etobicoke         Kingsway Park South West,Mimico NW,The Queensw...

[103 rows x 1 columns]