<h1><font color=blue>Week 3 Assignment of Applied Data Science Capstone</font></h1>

<h3><font color=black>Task 1: Create dataframe for Toronto with Postal code, Borough and neighbourhood</font></h3>

importing depedencies

In [1]:
import pandas as pd

In [2]:
#pulled canada postal code table from website into dataframe
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(url)
table_df = tables[0]

In [3]:
#display first 2 columns of the postalcode df
table_df.head(2)

  Postcode       Borough Neighbourhood
0      M1A  Not assigned  Not assigned
1      M2A  Not assigned  Not assigned

In [4]:
# chancge column name from Postcode to PostalCode
table_df = table_df.rename(columns={"Postcode":"PostalCode"})

In [5]:
# removing rows where the Borough is unassigned
table_df=table_df[table_df["Borough"]!= "Not assigned"]

In [6]:
table_df.head(3)

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [7]:
# grouping by postalcode and concatinating neighbourhood comma separated.
table_df_concat = table_df.groupby(['PostalCode','Borough'], sort=False).agg( ','.join)
table_df_concat.head()

                                               Neighbourhood
PostalCode Borough
M3A        North York                              Parkwoods
M4A        North York                       Victoria Village
M5A        Downtown Toronto         Harbourfront,Regent Park
M6A        North York        Lawrence Heights,Lawrence Manor
M7A        Queen's Park                         Not assigned

In [8]:
# resetting table index
table_df_concat = table_df_concat.reset_index()

In [9]:
#filtering by neighbourhood that is not assigned
no_neigh=table_df[table_df["Neighbourhood"]== "Not assigned"]
no_neigh

  PostalCode       Borough Neighbourhood
8        M7A  Queen's Park  Not assigned

In [10]:
#populating Not assigned cell in the neighbourhood column with a value
table_df_concat.at[4, "Neighbourhood"]= "Queen's Park"

In [11]:
#viewing changes made to 
table_df_concat.head()

  PostalCode           Borough                    Neighbourhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Queen's Park

In [12]:
table_df_concat.shape

(103, 3)

In [14]:
table_df_concat.to_csv("week3_assignment1.csv", index=None, header=True)