<h1><font color=blue>Week 3 Assignment of Applied Data Science Capstone</font></h1>

<h3><font color=black>Task 2: Add the latitude and longitude coordinates to the dataframe</font></h3>

<h6><font color=red>#importing needed libraries</font></h6>

In [12]:
import pandas as pd

#### importing task 1 data from saved csv

In [13]:
task1_csv = pd.read_csv("week3_assignment1.csv")
task1_csv.head()

  PostalCode           Borough                    Neighbourhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Queen's Park

#### importing lat long csv into dataframe

#### change column name from Postal Code to PostalCode

In [5]:
url2="https://cocl.us/Geospatial_data"
csv = pd.read_csv(url2)

lat_long_df = csv
lat_long_df = lat_long_df.rename(columns={"Postal Code":"PostalCode"})
lat_long_df.head(3)

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711

#### merging postal dataframes on postal code column to create new table with lat long

In [16]:
postalcode_df = pd.merge(lat_long_df, task1_csv, on="PostalCode")

#### rearranged dataframe columns

In [17]:
postalcode_df = postalcode_df[["PostalCode", "Borough", "Neighbourhood", "Latitude", "Longitude"]]
postalcode_df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

#### removing postalcode column from DF

In [18]:
postalcode_df = postalcode_df.drop(columns = ["PostalCode"])
postalcode_df.head()

       Borough                         Neighbourhood   Latitude  Longitude
0  Scarborough                         Rouge,Malvern  43.806686 -79.194353
1  Scarborough  Highland Creek,Rouge Hill,Port Union  43.784535 -79.160497
2  Scarborough       Guildwood,Morningside,West Hill  43.763573 -79.188711
3  Scarborough                                Woburn  43.770992 -79.216917
4  Scarborough                             Cedarbrae  43.773136 -79.239476

#### exporting dataframe to csv

In [20]:
postalcode_df.to_csv("week3_assignment2.csv", index=None, header=True)